.circles { 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .container-circle {
        display: flex;
        border: 1px #000;
        flex-direction: column;
        border: solid 1px #000;
        opacity: 0;

        .circle {
            background-color: red;
            border-radius: 100%;
            width: 5vw;
            height: 5vw;
            opacity: 1;
        }

        .orange {
            background-color: orange;
        }

        .blue {
            background-color: blue;
        }

        .yellow {
            background-color: yellow;
        }

}
}