
        .circle {
            background-color: red;
            border-radius: 100%;
            width: 5vw;
            height: 5vw;
        }

        .orange {
            background-color: orange;
        }

        .blue {
            background-color: blue;
        }

        .yellow {
            background-color: yellow;
        }

